
@media (max-width: 991px){    


  .menu__main {
    height: 100vh;
    background: #E9E9E9;
  }

  .menu__drawer {
    top: 30px;
    position: fixed;
  }

  .menu__stick {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    z-index: 666;
    position: fixed;
    top: 0;
    height: 30px;
  }

  .menu__title {
    margin: 0 auto;
    color: #fff;
    font-size: 12px;        
  }

}