* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 30px 0 30px;
    background: #E9E9E9;
    color: #212121;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
