* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 30px 0 30px;
    background: #EAEAEA;
    color: #212121;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card__container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.side__container {
    width: 30%;
}

@media(max-width:991px){
    body {
        padding: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    .card__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: 100%;
    }

    .side__container {
        width: 100%;
    }
    
}
