.card__news {
    width: 100%;
    height: 200px;
    flex-flow: row;
    box-shadow: 0 10px 30px rgba(44, 62, 80, 0.5);
}

.image__news {
    width: 30%;
    height: 100%;
    background: #000;
    border-radius: 0.25rem;
}

.content__news {
    width: 70%;
    margin: auto 20px auto 20px;
}

.title__news {
    text-align: left;
    font-size: 4vmin;
}

.excerpt__news {
    font-size: 2.25vmin;
}

.button__news {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vmin;
    height: 6vmin;
    background: #bda563;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 2vmin;
}

@media(max-width:991px) {
    .card__news {
        flex-flow: column;
        width: 300px;
        height: 450px;
    }

    .image__news {
        width: 100%;
        height: 50%;
    }

    .content__news {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        flex: 0 0 auto;
        height: 50%;
        padding: 1.5rem 2rem;
        margin: 0;
        width: 100%;
    }
}